<html>
<head>
    <title>admin</title>
    <script src="/js/reconnecting-websocket.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <button @click="connect">connect</button>
    <span>${name}</span>
    <span>${count}</span>
    <ul>
        <li v-for="(key,value) in datas">{{value}} {{key}}</li>
    </ul>
</div>

<script >
    var app = new Vue({
        el:'#app',
        data:{
          datas:{
          }
        },
        methods:{
            connect:function () {
                var uid = "admin";
                var webSocket = new ReconnectingWebSocket("ws://localhost:8080/socketServer?uid="+uid);

                webSocket.onopen = onOpen;
                webSocket.onmessage = onMessage;
                webSocket.onerror = onError;
                webSocket.onclose = onClose;

                //数据双向绑定
                var temp = this.datas;

                function getStatus() {
                    switch (webSocket.readyState) {

                        case webSocket.CONNECTING:
                            alert("连接中");
                            break;
                        case webSocket.OPEN:
                            alert("已连接");
                            break;
                        case webSocket.CLOSING:
                            alert("断开中");
                            break;
                        case webSocket.CLOSED:
                            alert("已断开");
                            break;

                    }
                }

                //初始化数据，主要将客户端名称数据处理
                function initData(){
                    var data = '${name}';
                    data = data.substr(1,data.length-2).split(",");

                    //初始化设置
                    for(var index in data){
                        var id = data[index];
                        if(id !== 'admin')
                            Vue.set(app.datas,id,'60');
                    }

                }
                //刚建立连接初始化客户端数据
                function onOpen(openEvt) {
                    initData();
                }


                //处理服务器发送的消息
                function onMessage(evt) {
                    //console.log(evt.data);
                    //获取的数据为"client:uid,data:cpu"，并且在此处理数据更新页面
                    var message = evt.data;
                    var id = message.substr(7,4);
                    var data  = message.substr(17,2);
                    //由于直接设置不能更新视图改用Vue方法设置
                    Vue.set(app.datas,id,data);
                    //console.log(temp[id]);

                }

                function onError() {
                }
                function onClose() {
                }

                //关闭网页则断开websocket连接
                window.close = function () {
                    webSocket.onclose();
                }
            }

        }
    })

</script>

</body>
</html>
