<!DOCTYPE html>
<html>
<head>
    <title>hello</title>
    <script src="/js/reconnecting-websocket.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            background-color: #EBEEF5;
            color: #333;
        }

        .el-submenu {
            background-color: #DCDFE6;
        }

        .el-menu-item {
            background-color: #E4E7ED;
        }

    </style>

</head>
<body>
<div id="app" >
    <el-container style="height: 700px; border: 1px solid #eee">
        <el-aside width="200px" >
            <el-menu :default-openeds="['1','2']">
                <el-submenu index='1'>
                    <template slot="title"><i class="el-icon-menu" style="font-size: 25px"></i> </template>
                    <el-menu-item>系统信息</el-menu-item>
                </el-submenu>

                <el-submenu index='2'>
                    <template slot="title"><i class="el-icon-message" style="font-size: 25px"></i></template>
                    <el-menu-item>数据分析</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 25px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px;font-size: 25px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>修改密码</el-dropdown-item>
                        <el-dropdown-item>登出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>SSS</span>
            </el-header>

            <el-main>
                <el-button @click="connect" type="primary" plain>连接</el-button>
                <!-- <span>${count}</span> -->
                <span style="font-size: 20px">设备在线数：<a style="color: #67C23A">${count}</a></span>
                <ul>
                    <li v-for="(key,value) in datas">
                        <el-card shadow="hover">
                            <span style="font-size: 25px">设备ID：<a style="color: #67C23A">{{value}}</a> 数据：<a style="color: #67C23A">{{key}}</a></span>
                        </el-card>
                    </li>
                </ul>
            </el-main>
        </el-container>
    </el-container>

</div>

</body>
<script src="/js/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            datas:{
            }
        },
        methods:{
            connect:function () {
                var uid = "admin";
                var webSocket = new ReconnectingWebSocket("ws://localhost:8080/socketServer?uid="+uid);

                webSocket.onopen = onOpen;
                webSocket.onmessage = onMessage;
                webSocket.onerror = onError;
                webSocket.onclose = onClose;

                //数据双向绑定
                var temp = this.datas;

                function getStatus() {
                    switch (webSocket.readyState) {

                        case webSocket.CONNECTING:
                            alert("连接中");
                            break;
                        case webSocket.OPEN:
                            alert("已连接");
                            break;
                        case webSocket.CLOSING:
                            alert("断开中");
                            break;
                        case webSocket.CLOSED:
                            alert("已断开");
                            break;

                    }
                }

                //初始化数据，主要将客户端名称数据处理
                function initData(){
                    var data = '${name}';
                    data = data.substr(1,data.length-2).split(",");

                    //初始化设置
                    // for(var index in data){
                    //     var id = data[index];
                    //     if(id != 'admin')
                    //         Vue.set(app.datas,id,'60');
                    // }

                }
                //刚建立连接初始化客户端数据
                function onOpen(openEvt) {
                    initData();
                }


                //处理服务器发送的消息
                function onMessage(evt) {
                    //console.log(evt.data);
                    //获取的数据为"client:uid,data:cpu"，并且在此处理数据更新页面
                    var message = evt.data;
                    var id = message.substr(7,4);
                    var data  = message.substr(17,2);
                    //由于直接设置不能更新视图改用Vue方法设置
                    Vue.set(app.datas,id,data);
                    //console.log(temp[id]);

                }

                function onError() {
                }
                function onClose() {
                }

                //关闭网页则断开websocket连接
                window.close = function () {
                    webSocket.onclose();
                }
            }

        }
    })
</script>


</html>