<html>
<head>
    <title>client</title>
    <script src="/js/reconnecting-websocket.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="connect">
    <label>客户端</label>
</div>

<script >

    //可以将设备id以及状态设为固定位数的数字便于在管理页面根据位数处理
    var uid = randomString(4);
    var webSocket = new ReconnectingWebSocket("ws://localhost:8080/socketServer?uid="+uid);

    webSocket.onopen = onOpen;
    webSocket.onmessage = onMessage;
    webSocket.onerror = onError;
    webSocket.onclose = onClose;

    //生成随机四位ID
    function randomString(len) {
        len = len || 32;
        var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
        var maxPos = $chars.length;
        var pwd = '';
        for (i = 0; i < len; i++) {
            pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        return pwd;
    }

    //发送客户端数据至服务端
    function sendData() {
        var cpu = Math.floor(Math.random()*(80)+20);
        var message = "client:"+uid+",data:"+cpu;

        webSocket.send(message);
    }

    function onOpen() {
        setInterval("sendData()",5000);
    }

    function getStatus() {
        switch (webSocket.readyState) {

            case webSocket.CONNECTING:
                alert("连接中");
                break;
            case webSocket.OPEN:
                alert("已连接");
                break;
            case webSocket.CLOSING:
                alert("断开中");
                break;
            case webSocket.CLOSED:
                alert("已断开");
                break;

        }
    }

    //处理服务器发送的消息
    function onMessage(evt) {
        alert(evt.data);
    }


    function onError() {
    }
    function onClose() {
    }

    //关闭网页则断开websocket连接
    // window.close = function () {
    //     webSocket.onclose();
    // }

</script>

</body>
</html>
